.mission-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.mission-container-in {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 2px solid blue; */
    padding: 40px;
    border-radius: 15px;
    width: 50%;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    opacity: 0;
    transform: translateY(50px);
}

.mission-container.visible .mission-container-in {
    opacity: 1;
    transform: translateY(0);
}

.mission-container-heading {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row; 
    gap: 10px;
}

.mission-container-heading h1 {
    font-size: 2.5rem;
    display: inline; 
}

.mission-container-heading h1 span {
    background-color: #a7f3d0; 
    padding: 0 10px;
    border-radius: 5px;
}

.mission-matter {
    margin: 1rem;
    width: 100%;
    min-height: 22vh;
    /* border: 2px solid orange; */
    padding: 0.8rem;
    overflow: hidden; 
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.mission-matter p {
    text-align: center;
    font-size: 1.25em;
    font-weight: 400;
    color: black;
    opacity: 1;
    transition: opacity 0.5s ease-in-out; /* Smooth transition for opacity */
    position: absolute;
    margin: 0;
}

.mission-matter p.hidden {
    opacity: 0;
}


.side-button {
    margin: 0.3rem;
    border: none;
    color: black;
    padding: 0.3rem;
    border-radius: 10px;
    /* padding: 10px 20px; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    cursor: pointer;
    /* border-radius: 50%; */
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.side-button:hover {
    background-color: black;
    color: white
}

.side-button:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(39, 174, 96, 0.5);
}
