.mission-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.mission-container-in {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid blue;
    padding: 40px;
    border-radius: 15px;
    width: 50%;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    opacity: 0;
    transform: translateY(50px);
}

.mission-container.visible .mission-container-in {
    opacity: 1;
    transform: translateY(0);
}
.mission-container-heading{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* align-items: center; */
    border: 2px solid red;
    /* padding: 1rem; */
}
.mission-container-heading h1{
    font-size: 2.5rem;
}
/* .mission-container-heading .highlight {
    color: #27ae60;
    text-decoration: underline;
} */
.mission-matter{
    margin: 1rem;
    width: 100%;
    border: 2px solid orange;
    padding: 0.8rem;
}
.mission-matter p {
    text-align: center;
    font-size: 1.25em;
    font-weight: 400;
    color: black;
}

.mission-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.side-button {
    background-color: #27ae60;
    border: none;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    cursor: pointer;
    border-radius: 50%;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.side-button:hover {
    background-color: #2ecc71;
}

.side-button:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(39, 174, 96, 0.5);
}
