.object-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
}

.object-container-in {
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    opacity: 0; 
    transform: translateY(50px); 
}

/* This class is added when the element becomes visible */
.visible .object-container-in {
    opacity: 1;
    transform: translateY(0); 
}

.object-heading {
    margin: 1rem;
    padding: 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.object-heading h1 {
    font-size: 2.5rem;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.object-heading h1 span {
    background-color: #a7f3d0; 
    padding: 0 10px;
    border-radius: 5px;
    margin-left: 10px;
}

.object-main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.object-boxes {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.object-box {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    overflow: hidden;
    width: 20%;
    margin: 1rem;
    text-align: center;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.object-box:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.BoxImage {
    width: 100%;
    height: auto;
}

.box-matter {
    padding: 1rem;
}

.box-matter h4 {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.box-matter p {
    font-size: 1rem;
    color: #666;
}

.box-button {
    padding: 1rem;
}

.box-button button {
    border: none;
    color: black;
    padding: 0.8rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.box-button button:hover {
    background-color: black;
    color: white;
}
