.contact{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-in{
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contact-in-one{
    padding: 1rem;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.NewletterMail{
    height: 20vh;
}
.contact-in-two{
    padding: 1rem;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.contact-in-two-in{
    width: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}
.contact-in-two-in input{
    width:40%;
    padding: 0.5rem;
    margin: 0.5rem;
    border: 1px solid #000;
}
.contact-in-two-in h1{
    font-size: 1.5rem;
    font-weight: 700;
}
.contact-in-two-in p{
    font-size: 1rem;
    font-weight: 400;
}
.contact-in-two-in-in{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.contact-in-two-in button{
    padding: 0.5rem 1rem;
    background-color: #000;
    color: #fff;
    border: none;
    cursor: pointer;
    /* margin-left: 9rem; */
}