.latest-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.latest-container.in-view {
    opacity: 1;
}

.latest-container-in {
    width: 100%;
    /* padding: 2rem; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.latest-container-heading {
    margin: 1.5rem 0;
    width: 100%;
    text-align: center;
}

.latest-container-heading h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: #333;
    margin: 0;
}

.latest-container-main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.latest-container-main-in {
    display: flex;
    gap: 2rem;
    padding: 0;
    animation: scroll-left 15s linear infinite;
    will-change: transform;
}

.latest-container-main-in:hover {
    animation-play-state: paused; /* Pause animation on hover */
}

.latest-container-main-box {
    flex: 0 0 auto;
    width: 350px;
    height: 300px;
    border: none;
    border-radius: 15px;
    padding: 1rem;
    text-align: center;
    background: #fff;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
    z-index: 1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.latest-container-main-box:hover {
    transform: translateY(-10px);
    box-shadow: 0 18px 36px rgba(0, 0, 0, 0.2);
}

.latest-container-main-box h1 {
    font-size: 1.75rem;
    margin: 0.5rem 0;
    color: #fff;
    z-index: 1;
}

.learn-more-btn {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.125rem;
    transition: background-color 0.3s ease, transform 0.2s ease;
    z-index: 1;
}

.learn-more-btn:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

@keyframes scroll-left {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}
