.activity-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.activity-container-in {
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.activity-container-heading {
    width: 100%;
    text-align: center;
    margin: 1rem;
}
.activity-container-heading h1{
    font-size: 2rem;
    margin-bottom: 0.5rem;
}
.activity-container-heading span{
    background-color: #a7f3d0; 
    padding: 0 10px;
    border-radius: 5px;
}
.activity-container-main {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.activity-box {
    width: 22%;
    margin: 1rem;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.activity-box:hover {
    transition: 300ms ease-in-out;
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.activity-image img {
    width: 100%;
    height: auto;
    display: block;
}
.activity-info {
    padding: 1rem;
    /* border: 2px solid #a7f3d0; */
}
.activity-info h1 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}
.activity-info p {
    font-size: 1rem;
    font-weight: 400;
    color: #666;
}
.activity-learn {
    padding: 0.3rem;
    width: 100%;
    text-align: center;
    margin: 0.3rem;
    cursor: pointer;
}
.activity-learn p {
    font-size: 1rem;
    font-weight: 400;
}
.activity-learn p:hover {
    color: green;
    cursor: pointer;
}