nav{
    /* background-color: red; */
    /* padding: 1rem; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-in{
    width: 70%;
    /* padding: 1rem; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-in-one{
    margin-left: 1rem;
    /* padding: 1rem; */
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-in-one-in{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.TreeImage{
    height: 5vh;
}
.nav-in-two{
    /* width: 50%; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
}
.nav-in-three{
    width: 20%;
    /* border: 2px solid red; */
    padding: 0.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-in-three button{
    padding: 0.5rem;
    border-radius: 10px;
    background-color: green;
    color: white;
    border: transparent;
}