/* nav.css */
header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    margin: 1rem;
    position: fixed;
    top: -100px; 
    width: 80%;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.1);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    transition: top 0.5s ease;
}

.nav.visible {
    top: 0; 
}

.nav-in {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-in-one {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-in-one-in {
    padding: 0.5rem;
    display: flex;
    align-items: center;
}

.TreeImage {
    height: 3rem; 
    margin-right: 1rem; 
}

.nav-in-two {
    display: flex;
}

.nav-in-two p {
    margin: 0 1.5rem;
    cursor: pointer;
}

.nav-in-three {
    padding: 1rem;
    width: 20%;
    display: flex;
    gap: 1rem;
    justify-content: space-around;
}

.nav-in-three button {
    padding: 0.5rem;
    background-color: green;
    border-radius: 10px;
    color: white;
    width: 50%;
}

.nav-in-three button:hover {
    background-color: lightgreen;
    color: black;
}
